.container {
  width:100%;
  // height: 100vh;
  position:relative;
  background-color: #338DC6 !important;
  font-family: "Helvetica Neue" !important;
  filter: drop-shadow(5px 5px 10px black);
}




.form-padding{
  padding-right: 40px !important;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"], #contact select { font:300 12px/16px "Helvetica Neue"}

#contact {
	padding:25px;
}

#contact h3 {
	color: white;
	display: block;
	font-size: 30px;
	font-weight: 200;
}

#contact h4 {
  margin: 15px 0 30px;
  display: block;
  font-size: 18px;
  color: white;
}

#contact h5 {
  margin: 15px 0 15px;
  display: block;
  font-size: 15px;
  color: white;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact select, #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
  padding:10px;
  border-radius: 20px;
}


#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	background: transparent;
	color: white;
	margin:15px 10px 0;
	padding:10px;
  font-size:15px;
  border-radius: 20px;
}

#contact button[type="submit"]:hover {
  background:white;
  color: #338DC6;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}






.everything{
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
    font-family: "Helvetica Neue" !important;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeDark 1s ease-in-out 10s 1 normal forwards !important;
}

.animation1{
    text-align: center;
    width: 30%;
    height: auto;
    color: #1C3B5F;
    font-size: 36px;
    position: absolute;
    left: 35%;
    top: 45%;
    animation: fadeIn 4s ease-in-out 0s 1 normal forwards;

}

.animation1 span{
  color: #338DC6;
}




@keyframes fadeDark{
  0%{
    opacity: 1;
  }
  100%{
    width: 100%;
    height: 100vh;
    background-color: #262626;
    
  }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}
@keyframes turnOff {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}

@keyframes fadeHome{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.info1{
    opacity: 0;
    display: flex;
    flex: .2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    filter: drop-shadow(5px 5px 10px black);
    animation: fadeHome 1s ease-in-out 11s 1 normal forwards !important;
    /* font-size: 30px; */
}

.img-size{
  width: 20%;
}

.img-cont{
    // width: 100%;
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-end;
    animation: fadeHome 1s ease-in-out 11s 1 normal forwards !important;
}

.background-img{
  // overflow: hidden;
  width: 1100px;
  filter: drop-shadow(5px 5px 10px black);
}

.opt-in-contain{
  position: relative;
  z-index: 5;
  opacity: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: .3;
  animation: fadeHome 1s ease-in-out 11s 1 normal forwards !important;
}

.opt-in-text{
  font-size: 22px;
  font-weight: 100;
  color: white;
  opacity: .5;
  filter: drop-shadow(2px 2px 5px black);
}

.opt-in-button{
  cursor:pointer;
  background: transparent;
  font-weight: 100;
  width: 18%;
  color: #338DC6;
  border: 1px solid #338DC6;
  border-radius: 15px;
  font-size: 15px;
  outline: none;
  
}

.opt-in-button:hover{
  background-color:#338DC6;
  color: white;
  transition:background-color 0.3s ease-in-out;
}

.opt-in-download{
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 1%;
  z-index: 10;
  animation: fadeHome 1s ease-in-out 11s 1 normal forwards !important;
}

.download-size{
  width: auto;
  height: 50px;
}

.content {
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 35%;
    // transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    overflow:hidden;
    animation: turnOff 6s ease-in-out 4s 1 normal forwards !important;
    font-family: "Helvetica Neue" !important;
    font-size: 36px;
    color: #1C3B5F;
    line-height: 40px;
    
    &__container {
      overflow: hidden;
      height: 40px;
      
      display: flex;
      width: 100%;
      
      &__text {
        // display: inline;
        text-align: right;
      }
  
      &__list {
        text-align: left;
        list-style: none;
        color: #338DC6;
        -webkit-animation-name: change;
        -webkit-animation-duration: 21s;
        -webkit-animation-iteration-count: 1;
        animation-name: change;
        animation-duration: 21s;
        animation-delay: 1s;
        animation-iteration-count: 1;
  
        &__item {
          line-height:40px;
          margin:0;
        }
      }
    }
  }

  .left-div{
    flex: 1;
  }
  .right-div{
    flex: 1;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

  .sidenav-contain{
    background: #338DC6 !important;
    height: 100vh !important;
    // width: 100vw;
    overflow: hidden;
  }

  @media screen and (max-width: 800px) {
    .background-img{
      width: 900px;
    }
    .opt-in-contain{
      margin-top: 5%;
    }

    .img-size{
      margin-top: 5%;
      width: 30%;
    }
    
    .opt-in-button{
      width: 23%;
    }
    
    .download-size{
      height: 40px;
    }
  }

  @media screen and (max-width: 600px) {
    .background-img{
      width: 700px;
    }
    .opt-in-contain{
      margin-top: 8%;
    }

    .img-size{
      margin-top: 8%;
      width: 40%;
    }
    
    .opt-in-button{
      width: 30%;
    }
    
    .download-size{
      height: 35px;
    }
  }

  @media screen and (max-width: 890px) {
    .animation1{
    text-align: center;
    width: 50%;
    height: auto;
    color: #1C3B5F;
    font-size: 36px;
    position: absolute;
    left: 25%;
    top: 45%;
    animation: fadeIn 4s ease-in-out 0s 1 normal forwards;
    }


    .content {
      opacity: 0;
      position: absolute;
      top: 45%;
      left: 25%;
      // transform: translate(-50%, -50%);
      width: 50%;
      height: auto;
      overflow:hidden;
      animation: turnOff 6s ease-in-out 4s 1 normal forwards !important;
      font-family: "Helvetica Neue" !important;
      font-size: 32px;
      color: #1C3B5F;
      line-height: 40px;
      
      &__container {
        overflow: hidden;
        height: 40px;
        
        display: flex;
        width: 100%;
        
        &__text {
          // display: inline;
          text-align: right;
        }
    
        &__list {
          text-align: left;
          list-style: none;
          color: #338DC6;
          -webkit-animation-name: change;
          -webkit-animation-duration: 21s;
          -webkit-animation-iteration-count: 1;
          animation-name: change;
          animation-duration: 21s;
          animation-delay: 1s;
          animation-iteration-count: 1;
    
          &__item {
            line-height:40px;
            margin:0;
          }
        }
      }
    }






  }

  @media screen and (max-width: 450px) {
    .background-img{
      width: 700px;
    }
    .opt-in-contain{
      margin-top: 25%;
    }

    .img-size{
      margin-top: 30%;
      width: 40%;
    }
    
    .opt-in-button{
      width: 40%;
    }
    
    .download-size{
      height: 35px;
    }
    .animation1{
      text-align: center;
      width: 70%;
      color: #1C3B5F;
      font-size: 25px;
      position: absolute;
      left: 15%;
      top: 45%;
      animation: fadeIn 4s ease-in-out 0s 1 normal forwards;
      }

      .content {
        opacity: 0;
        position: absolute;
        top: 45%;
        left: 15%;
        // transform: translate(-50%, -50%);
        width: 70%;
        height: auto;
        overflow:hidden;
        animation: turnOff 6s ease-in-out 4s 1 normal forwards !important;
        font-family: "Helvetica Neue" !important;
        font-size: 25px;
        color: #1C3B5F;
        line-height: 40px;
        
        &__container {
          overflow: hidden;
          height: 40px;
          
          display: flex;
          width: 100%;
          
          &__text {
            // display: inline;
            text-align: right;
          }
      
          &__list {
            text-align: left;
            list-style: none;
            color: #338DC6;
            -webkit-animation-name: change;
            -webkit-animation-duration: 21s;
            -webkit-animation-iteration-count: 1;
            animation-name: change;
            animation-duration: 21s;
            animation-delay: 1s;
            animation-iteration-count: 1;
      
            &__item {
              line-height:40px;
              margin:0;
            }
          }
        }
      }



  }

  